<!DOCTYPE html>
<html lang="en">
<head>
    <title>DOML Model Checker - Dashboard</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>DOML Model Checker - Dashboard</h1>
    
    <label for="domlx-csp">CSP Compatibility Check</label>
    <input type="file" id="domlx-csp" name="domlx-csp" accept="text/xml,.domlx" />
    <br/>
    <br/>
    <label for="domlx-mc">Model Check</label>
    <input type="file" id="domlx-mc" name="domlx-mc" accept="text/xml,.domlx" />

    <script>
        const input_csp = document.querySelector("#domlx-csp")
        input_csp.addEventListener('change', readFileCSP, false)
        
        const input_mc = document.querySelector("#domlx-mc")
        input_mc.addEventListener('change', readFileMC, false)

        async function readFile(event, url) {
            const file = event.target.files[0]
            if (file) {
                const res = await fetch(url, {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/xml",
                    },
                    redirect: "follow",
                    body: await file.text()
                })
                if (res.status === 200) {
                    newHtml = await res.text()
                    // Fix escaped quotes for tags
                    newHtml = newHtml.replaceAll("\\\"", "\"")
                    // Unescape emojis
                    // See: https://stackoverflow.com/questions/51640509/
                    newHtml = newHtml.replace(/\\u[\dA-F]{4}/gi, function(match) {
                        return String.fromCharCode(parseInt(match.replace(/\\u/g, ''), 16));
                    })
                    // Remove trailing and heading "
                    newHtml = newHtml.substr(1, newHtml.length - 3)
                    document.write(newHtml)
                }
            }
        }

        async function readFileCSP(event) {
            readFile(event, '/csp_html')
        }

        async function readFileMC(event) {
            readFile(event, '/modelcheck_html')
        }
    </script>
</body>
</html>